# Python Distribution Package Requirements for Dirus.
#
# Source:: https://github.com/ampledata/dirus
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2016 Orion Labs, Inc.
# License:: Apache License, Version 2.0
#


flake8
pylint
twine
